/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* variables */
:root{

    /* colors */
    --preto: #1C1D21; /* Preto */
    --cinza: #D1DDE8; /* Azul Alice */
    --vermelho1: #C41D1D; /* Carro de bombeiros */
    --vermelho2: #B80C09; /* Laranja de engenharia */
    --ouro: #CBAB2A; /* Ouro Metalico */
    --text-color: hsl(0 0% 46%);

    /* fonts */

    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;

    --title-font:'Montserrat', sans-serif;
    --base-font:'Josefin Sans', sans-serif;
}

/* base */
html{
    scroll-behavior: smooth;
    background-color: var(--cinza);
}

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/* nav */
.container-nav{
    background-color: var(--preto);
}

.logo{
    color:white;
    font: 700 var(--title-font-size) var(--title-font);
    font-style: italic;
    font-weight: bold;
}

.logo span{
    color: var(--cinza);
}

/* home */




/*services */

