/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* variables */
:root{
    /* sizes */
    --header-height: 4.5rem;

    /* colors */
    --hue:10;
    --preto: #1C1D21; /* Preto */
    --cinza: #D1DDE8; /* Azul Alice */
    --vermelho1: #C41D1D; /* Carro de bombeiros */
    --vermelho2: #B80C09; /* Laranja de engenharia */
    --ouro: #CBAB2A; /* Ouro Metalico */
    --text-color: hsl(0 0% 46%);

    /* fonts */

    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;

    --title-font:'Montserrat', sans-serif;
    --base-font:'Josefin Sans', sans-serif;
}

/* base */
html{
    scroll-behavior: smooth;
    background-color: var(--cinza);
}

.title{
    font: 700 var(--title-font-size) var(--title-font);
    font-style: italic;
    font-weight: bold;
    color: var(--cinza);
}

.text{
    font-family: var(--base-font);
}

.divider-1 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 36%, 57%, 1) 0,
      hsla(var(--hue), 65%, 88%, 0.34)
    );
  }

.divider-2 {
    height: 1px;
    background: linear-gradient(
      90deg,
      hsla(var(--hue), 36%, 57%, 1) 0,
      hsla(var(--hue), 65%, 88%, 0.34)
    );
  }


/* layout */

.container{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 2rem;
}

.section{
    padding: calc(5rem + var(--header-height));
}

.section header{
    margin-bottom: 4rem;
}

#header {
    display: flex;
    position: fixed;
    background-color: var(--preto);
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width:100%;
    z-index: 1000;
}

/*#header .scroll{
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}*/

/* nav */

.logo{
    cursor:default;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    font-family: var(--base-font);
    color: var(--cinza);
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#CBAB2A;
}


/* card */

.cards.grid {
    gap: 1.5rem;
  }
  
  .card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.3rem;
    text-align: center;
  }
  
  .card .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

.logo{
    color:white;
    font: 700 var(--title-font-size) var(--title-font);
    font-style: italic;
    font-weight: bold;
    margin: 10px 20px;
}

.logo span{
    color: var(--cinza);
}

.logoImg{
    height: 70px;
    width: 70px;
    display: inline-flex;
}
/* home */

.row{
    display:flex;
    flex-wrap: wrap;
}

.image {
    flex: 1;
    padding: 20px;
   }

.image img{
    height: 320px;
    width: auto;
}

.button {
    display: inline-block;
    background-color: var(--ouro);
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
   }
/*services */

/* carousel */

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .carousel-slide {
    display: block;
    float: left;
    width: 100%;
    transition: 0.5s;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

/* footer */

.logo-alt{
    color: var(--cinza);
    font: 700 var(--title-font-size) var(--title-font);
    font-style: italic;
    font-weight: bold;
}

.logo-alt span{
    color: var(--preto);
}

.container-footer{
    background-color: var(--ouro);
}

.table .title{
    color: var(--base-color);
}

th {
    width: 300px;
}

.table th td {
    font-family: var(--base-font);
}
